on:
  push:
    branches:
      - master
      - 'dev*'
      - 'fix*'
      - 'issue*'
      - 'doc*'
      - 'gh-actions'
      - 'githubactions'
  pull_request:
    branches:
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
        # MacOs
        # MacOs does not support legacy versions so we are only checking
        # against the release
          - {os: macOS-latest,   r: 'release'}
        # Windows
          - {os: windows-latest,   r: '4.5.2'}
        # Ubuntu 22-04
          - {os: ubuntu-24.04,   r: '4.5.2', vdiffr: true,  xref: true}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v2
      
      - uses: r-lib/actions/setup-pandoc@v1
      
      - name: Set up Python 3.11
        uses: actions/setup-python@v1
        with:
          python-version: 3.11
          
      - uses: s-weigand/setup-conda@v1
        with:
          activate-conda: false
          
      - run: conda --version
      - run: which python

      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true
          
        
      - uses: r-lib/actions/setup-r-dependencies@v1
        with:
          extra-packages: rcmdcheck
          
      - uses: r-lib/actions/check-r-package@v1
        with:
          error-on: '"note"'
          args: 'c("--no-manual", "--as-cran", "--run-dontrun")'
